@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased min-h-screen;
  }
}

@font-face {
  font-family: 'Terafont Varun';
  src: url('/fonts/Terafont-Varun.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Terafont Kinnari';
  src: url('/fonts/Terafont-Kinnari.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bhasha Bharti';
  src: url('/fonts/Bhasha-Bharti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Krutidev 010';
  src: url('/fonts/Krutidev-010.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LMG Arun';
  src: url('/fonts/LMG-Arun.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shree-Guj';
  src: url('/fonts/Shree-Guj.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shivaji';
  src: url('/fonts/Shivaji.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Preeti';
  src: url('/fonts/Preeti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SutonnyMJ';
  src: url('/fonts/SutonnyMJ.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
